body {
	background-image: url(../images/home_background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #666666;
	background-size: 100% 100%;
}

.welcome_header {
	padding: 70px;
	text-align: center;
}

.search-containers{
	width: 40%;
	display: block;
	margin: 0 auto;

}

input#search-bar-restaurant {\
	float: left;
	margin: 0 auto;
	width: 100%;
	height: 45px;
	padding: 0 20px;
	font-size: 1rem;
	border: 1px solid #AE5D5D;
	outline: none;
	border-radius: 8px;
 }

.search-icon-restaurant {
	position: relative;
	float: right;
	width: 65px;
	height: 65px;
	top: -55px;
	right: -52px;
}

input#search-bar-city {
	float: right;
	margin: 0 auto;
	width: 100%;
	height: 45px;
	padding: 0 20px;
	font-size: 1rem;
	border: 1px solid #AE5D5D;
	outline: none;
	border-radius: 8px;
}

.search-icon-city {
	position: relative;
	float: right;
	width: 65px;
	height: 65px;
	top: -55px;
	right: -52px;
}

#city_search {
	float: right;
}

#restaurant_search {
	float: left;
}

.selection-choices {
	display: block;
	margin: 10px auto;
    width: 105%;
    border-radius: 8px;
}

.selection-choices select {
	margin: 10px auto;
	padding: 8px 8px;
    width: 130%;
    border-radius: 8px;
}

.selection-choices select:focus {
    outline: none;
}