body {
	font-family: 'Roboto', sans-serif;
	background: #ede8e5;
	margin: 0px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #073570;
	overflow: hidden;
	float: right;
	width: 100%;
	display: block;
}
li a{
	display: block;
	text-decoration: none;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	float: right;
	padding: 10px 16px;
}
li a:hover {
	background-color: #1B467F;
}
