* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

body {
	font-family: Open Sans;
	font-size: 20px;
	position: relative;
	height: 100vh;
	font-weight: 400;
	background: #ede8e5;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.buttons {
	position: relative;
	width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.restaurant_button {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	border-color: black;
	border-width: 10px;
	background-color: white;
	color: black;
	height: 130px;
	text-align: left;
	transition: transform 0.3s;
}

.restaurant_review, .restaurant_name {
	display: inline-block;
	line-height: 130px;
	font-weight: bold;
}

.restaurant_img, .restaurant_star {
	display: inline-block;
	vertical-align: middle;
}

.restaurant_img {
	margin-right: 15px;
}

.right {
	float: right;
	height: 130px;
	margin-right: 15px;
}

.left {
	float: left;
	height: 130px;
	margin-left: 15px;
}

.restaurant_button:hover {
	transform: translateY(-5px);
}