.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.buttons {
	position: relative;
	width: 80%;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
}

.restaurant_button {
	margin-bottom: 15px;
	background-color: white;
	border-width: 0px;
	height: 100px;
	text-align: left;
	transition: box-shadow 0.1s;
	width: 100%;
	position: relative;
}

.restaurant_review, .restaurant_name {
	display: inline-block;
	position: absolute;
	line-height: 100px;
	font-size: 18px;
}

.restaurant_img, .restaurant_star {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.restaurant_star {
	right: 45px;
}

.restaurant_review {
	right: 10px;
	font-weight: bold;
}

.restaurant_img {
	left: 15px;
}

.restaurant_name {
	left: 120px;
}

.right {
	float: right;
	height: 100px;
}

.left {
	float: left;
	height: 100px;
}

.restaurant_button:hover {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 15px 0 rgba(0,0,0,0.19);
}

.page_title {
	position: absolute;
	text-align: center;
	top: 40px;
	font-size: 24px;
	font-weight: bold;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
}



button:focus {
	outline: 0;
}

button:hover {
	cursor: pointer;
}

button {
	color: #2C2C2C;
}